body,
div,
p,
header,
section,
footer,
nav,
ul {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #272822;
}

a:hover {
    color: #a4da72;
}

hr {
    width: 3vw;
    border: 0;
    border-top: 3px solid;
    border-color: #272822;
    float: left;
    margin-top: 1.5vh;
}

/* font */
@font-face {
    font-family: 'InfinitySans-BoldA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-1Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DWImpactamin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/DWImpactamin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BBTreeGL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */
header {
    position: fixed;
    height: 8vh;
    width: 100%;
    transition-duration: 0.3s;
    opacity: 0;
    background: #272822;
    color: #ececec;
    z-index: 999;
}

.head-title {
    font-size: x-large;
    font-family: 'InfinitySans-BoldA1';
    border-right: 1px solid #ececec;
    margin-left: 1vw;
    line-height: 7.5vh;
}

/* navi */
#navi {
    font-family: 'NeoDunggeunmo';
    position: fixed;
    margin-left: 90vw;
    margin-top: 48vh;
    line-height: 30px;
    color: #272822;

}

/* landing */
#landing {
    height: 100vh;
    background: #272822;
    color: #ececec;
}

#text-box {
    padding-top: 50vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.landing-text {
    font-family: 'InfinitySans-BoldA1';
    font-size: xxx-large;
    width: max-content;
    animation-name: typing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes typing {
    from {border-right: none;}
    to {border-right: 3px solid #ececec;}
}
/* content */
.content {
    padding-top: 8vh;
}

.title-wrap {
    margin-top: 12vh;
    margin-left: 10vw;
}

/* profile */
.content-title {
    font-family: 'InfinitySans-BoldA1';
    margin-left: 4vw;
    font-size: xx-large;
    font-weight: bold;
    color: #272822;
}

.info {
    display: inline-block;
}

.image-box {
    width: 20vw;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 5vh;
    margin-left: 17vw;
    display: inline-block;
}

.title-image {
    width: 28vw;
    margin-left: -7vw;
}

.about-me {
    font-family: 'DWImpactamin';
    font-size: xx-large;
    margin-left: 6vw;
    margin-top: 12vh;
}

.contact {
    line-height: 4vh;
    margin-top: 3vh;
}

.about-me-cont {
    font-family: 'BBTreeGL';
    font-size: large;
}

.contact-image, .contact-link {
    display: inline-block;
}

.contact-link {
    margin-left: 2vw;
}

.contact-common {
    font-family: 'InfinitySans-BoldA1';
    width: max-content;
    font-size: medium;
}

.github-image {
    margin-left: 18vw;
}

.blog-image {
    margin-left: 18.5vw;
}

.email-image {
    margin-left: 18.2vw;
}

/* skill */
.skill-content {
    width: 72vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15vw;
}

.skill-wrap {
    border: 1px solid #656565;
    border-radius: 50%;
    width: 11vw;
    height: 19vh;
    margin-top: 6vh;
    margin-left: 2vw;
    display: inline-block;
    overflow: hidden;
    transition-duration: 1s;
}

.skill-title {
    color: #272822;
    font-family: 'DWImpactamin';
    font-size: larger;
    text-align: center;
    padding-top: 8.5vh;
}

.secret-div {
    width: 11vw;
    height: 19vh;
    display: inline-block;
    background: #b5ef7f;
    transform: translateY(10vh);
    transition-duration: 1s;
    opacity: 0.5;
}

/* project */
.project-content {
    width: 72vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11vh;
}

.project-wrap, .project-secret {
    width: 55vw;
    height: 24vh;
    border-radius: 10px;
}

.project-wrap {
    margin-left: 8vw;
    margin-bottom: 6vh;
    box-shadow: 0px 2px 4px 1px darkgray;
    color: #272822;
}

.project-secret {
    position: absolute;
    background: #b5ef7f;
    opacity: 0;
    transition-duration: 0.3s;
}

.project-secret-text {
    font-family: 'DWImpactamin';
    text-align: center;
    font-size: x-large;
    padding-top: 11vh;
    color: white;
}

.project-image-wrap {
    display: inline-block;
    width: 21vw;
    height: 17vh;
    margin-left: 1vw;
    overflow: hidden;
}

.project-title {
    font-family: 'DWImpactamin';
    font-size: larger;
    margin-left: 2vw;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.project-text {
    font-family: 'BBTreeGL';
    float: right;
    width: 30vw;
    margin-right: 2vw;
}

.space {
    margin-top: 3vh;
}

.project-image {
    max-width: 21vw;
}