body,
div,
p,
header,
section,
footer,
nav,
ul {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #272822;
}

a:hover {
    color: #a4da72;
}

hr {
    width: 3vw;
    border: 0;
    border-top: 3px solid;
    border-color: #272822;
    float: left;
    margin-top: 1.5vh;
}

/* font */
@font-face {
    font-family: 'InfinitySans-BoldA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-1Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DWImpactamin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/DWImpactamin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BBTreeGL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */
header {
    position: fixed;
    height: 8vh;
    width: 100%;
    transition-duration: 0.3s;
    opacity: 0;
    background: #272822;
    color: #ececec;
    z-index: 999;
}

.head-title {
    font-size: x-large;
    font-family: 'InfinitySans-BoldA1';
    border-right: 1px solid #ececec;
    margin-left: 1vw;
    line-height: 7.5vh;
}

/* navi */
#navi {
    font-family: 'NeoDunggeunmo';
    position: fixed;
    margin-left: 90vw;
    margin-top: 48vh;
    line-height: 30px;
    color: #272822;

}

/* landing */
#landing {
    height: 100vh;
    background: #272822;
    color: #ececec;
}

#text-box {
    padding-top: 50vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.landing-text {
    font-family: 'InfinitySans-BoldA1';
    font-size: xxx-large;
    width: max-content;
    animation-name: typing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes typing {
    from {border-right: none;}
    to {border-right: 3px solid #ececec;}
}
/* content */
.content {
    padding-top: 8vh;
    width: 59%;
    margin-left: auto;
    margin-right: auto;
}

.title-wrap {
    margin-top: 12vh;
}

.content-title {
    font-family: 'InfinitySans-BoldA1';
    margin-left: 4vw;
    font-size: xx-large;
    font-weight: bold;
    color: #272822;
}

/* profile */
.info {
    display: inline-block;
}

.image-box {
    overflow: hidden;
    border-radius: 50%;
    margin-top: 5vh;
    display: inline-block;
}

.title-image {
    width: 28vw;
    margin-left: -7vw;
}

.about-me {
    font-family: 'DWImpactamin';
    font-size: xx-large;
    margin-left: 5%;
    margin-top: 17%;
}

.contact {
    line-height: 4vh;
    margin-top: 3vh;
}

.about-me-cont {
    font-family: 'BBTreeGL';
    font-size: large;
}

.contact-image, .contact-link {
    display: inline-block;
}

.contact-link {
    margin-left: 2vw;
}

.contact-common {
    font-family: 'InfinitySans-BoldA1';
    width: max-content;
    font-size: medium;
}

.contact-text {
    color: #272822;
}

/* skill */
.skill-wrap {
    width: 190px;
    height: 228px;
    margin-top: 6vh;
    margin-left: 2vw;
    display: inline-block;
    overflow: hidden;
}

.skill-circle {
    width: 97%;
    height: 97%;
    border: 1px solid #656565;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    transition-duration: 1s;
}

.skill-title {
    color: #272822;
    font-family: 'DWImpactamin';
    font-size: larger;
    text-align: center;
    padding-top: 52%;
}

.secret-div {
    width: 100%;
    height: 97%;
    display: inline-block;
    background: #b5ef7f;
    transition-duration: 1s;
    opacity: 0.5;
    transform: translateY(49%);
}

/* project */
.project-content {
    margin-top: 6vh;
}

.card-wrap {
    width: 280px;
    height: 400px;
    position: relative;
    display: inline-block;
    margin-right: 3%;
    margin-bottom: 3%;
    transform-style: preserve-3d;
}

.back-card, .front-card {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
    transition-duration: 1s;
}

.back-card {
    transform: rotateY(-180deg);
    background: #b5ef7f;
}

.front-card {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    background: yellowgreen;
}

.next {
    transform: rotateY(0deg);
    background: yellow;
}

/* #teuching {
    background: url(/resources/image/teuching.jpg);
    background-size: cover;
}

#easyveggy {
    background: url(/resources/image/easyveggy.jpg);
    background-size: cover;
} */

.card-title {
    color: #272822;
    font-size: xx-large;
    text-align: center;
    margin-top: 15%;
    font-weight: bolder;
}

.card-link-wrap {
    margin-top: 16%;
    margin-left: 40px;
    width: 200px;
    height: 240px;
    border-radius: 10px;
    background: #f3fbeb;
}

.card-link {
    display: block;
    margin-left: 8%;
    padding-top: 11%;
}